<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="batmobile">
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="inertial_macros.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:macro name="gazebo_material" params="color reference">
        <gazebo reference="${reference}">
            <material>${color}</material>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="collision_visual" params="*geometry *material">
        <collision>
            <xacro:insert_block name="geometry" />
        </collision>
        <visual>
            <xacro:insert_block name="geometry" />
            <xacro:insert_block name="material" />
        </visual>
    </xacro:macro>
    <xacro:macro name="joint" params="name type parent child axisxyz:=${default3d} originxyz:=${default3d} originrpy:=${default3d}">
        <joint name="${name}" type="${type}">
            <parent link="${parent}" />
            <child link="${child}" />
            <axis xyz="${axisxyz}" />
            <origin xyz="${originxyz}" rpy="${originrpy}" />
        </joint>
    </xacro:macro>
    <xacro:macro name="wheel_link" params="prefix reflect:=1">
        <link name="${prefix}_wheel_link">
            <xacro:collision_visual>
                <geometry>
                    <cylinder radius="0.1" length="0.05" />
                </geometry>
                <material name="blue" />
            </xacro:collision_visual>
            <xacro:inertial mass="2.5" ixx="${(1/12) * 2.5 * (3*.1*.1 + 0.05*0.05)}" iyy="${(1/12) * 2.5 * (3*.1*.1 + 0.05*0.05)}" izz="${(1/2) * 2.5 * (.1*.1)}"/>
        </link>
        <xacro:gazebo_material color="Gazebo/Blue" reference="${prefix}_wheel_link" />
        <xacro:joint name="${prefix}_wheel_joint" type="continuous" parent="root_link" child="${prefix}_wheel_link" axisxyz="0 0 ${reflect}" originxyz="-0.05 ${reflect*0.125} 0" originrpy="${-1 * reflect * pi/2} 0 0"/> 
    </xacro:macro>
    <link name="base_link" />
    <link name="root_link">
        <visual>
            <origin xyz="0.0 0.0 0.02" rpy="0. -0.15 0.0" />
            <geometry>
                <mesh filename="package://batmobile/meshes/chassis.dae" scale="0.9 0.5 0.5" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.02" rpy="0. -0.15 0.0" />
            <geometry>
                <box size=".41 .16 .1" />
            </geometry>
        </collision>
        <xacro:inertial mass="10" originrpy="0. -0.05 0.0" ixx="${(1/12) * 10 * (.16*.16+.1*.1)}" iyy="${(1/12) * 10 * (.41*.41+.1*.1)}" izz="${(1/12) * 10 * (.41*.41+.16*.16)}"/>       
    </link>
    <xacro:wheel_link prefix="left" />
    <xacro:wheel_link prefix="right" reflect="-1" />
    <link name="caster_wheel_link">
        <xacro:collision_visual>
            <geometry>
                <sphere radius="0.06" />
            </geometry>
            <material name="red" />
        </xacro:collision_visual>
        <xacro:inertial mass="0.1" ixx="${(2/5) * 0.1*0.06*0.06}" iyy="${(2/5)*0.1*0.06*0.06}" izz="${(2/5)*0.1*0.06*0.06}"/>
    </link>
    <xacro:gazebo_material color="Gazebo/Blue" reference="caster_wheel_link" />
    <xacro:joint name="base_joint" originxyz="0 0 .1" child="root_link" parent="base_link" type="fixed"/>
    <xacro:joint name="caster_wheel_joint" type="fixed" parent="root_link" child="caster_wheel_link" originxyz="${0.2-0.03} 0.0 -0.03" />
    <link name="imu_link">
        <xacro:collision_visual>
            <geometry>
                <box size="0.03 0.03 0.03" />  
                <origin xyz="0 0 ${sin(0.15)*.4}"/>  
            </geometry> 
            <material name="green"/>
        </xacro:collision_visual>
    </link>
    <xacro:joint name="imu_joint" type="fixed" parent="root_link" child="imu_link"  originxyz=".205 0 .055" />
</robot>